@font-face {
    font-family: "bold";
    src: url("../assets/Fonts/Bold.otf");
}

@font-face {
    font-family: "medium";
    src: url("../assets/Fonts/Medium.otf");
}

@font-face {
    font-family: "regular";
    src: url("../assets/Fonts/Regular.otf");
}

body {
    padding: 0;
    margin: 0;
    padding-top: 5rem;
    background-color: #F7F7F7;
    font-family: "regular";
}

.bold {
    font-family: "bold";
}

.medium {
    font-family: "medium";
}

.regular {
    font-family: "regular";
}

.thin {
    font-weight: 300;
}

.color-grey {
    color: grey;
}

a {
    text-decoration: none;
}

svg {
    color: #FF385C;
}

.navbar-toggler-icon {
    font-size: 0.75rem;
}

.navbar-toggler {
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    width: 80px;
}

.globe {
    font-size: 1.25rem;
    opacity: 0.8;
}

.navbar-toggler {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    justify-content: space-between;
    padding: 1rem 0.5rem;
    background-color: #F7F7F7 !important;
}

.navbar > div {
    display: flex;
    align-items: center;
    
}

.navbar div:last-child > * {
    margin-right: 1rem;
}

footer div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

footer > div {
    flex-direction: column;
    align-items: center !important;
    min-width: fit-content;
}

footer * {
    margin: 0;
    min-width: fit-content;
}

footer {
    margin-bottom: 2rem;
    padding: 2rem 0;
}

.footer-div-1 {
    gap: 1.5rem;    
}

footer a:hover {
    text-decoration: underline;
}

.hr-line {
    max-width: 90vw;
    margin: 0 auto;
    padding: 1rem 0;
}

@media (max-width: 720px) {
    .nav-options {
        display: none !important;
    }
}

.navbar-nav {
    gap: 1.5rem;
}

nav a {
    margin: 0 !important;
}
