.submit-btn {
    background-color: #FF385C;
    color: white;
    border-radius: 0.6rem;
    border: none;
    padding: 0.5rem;
}

.form-container {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 1.5rem;
    padding: 2rem;
    margin: 2rem 0;
    max-width: 40vw;
    min-width: 500px;
    box-shadow: 1px 1px 10px grey;
}

.form-group {
    padding-bottom: 1rem;
}